@model List<DataAccess.Models.FacilityReport>

@{
    ViewBag.Title = "Meldingen inzien";
    Layout = "_Layout";
}

<h1 class="text-2xl font-semibold">Meldingen inzien</h1>

<div class="overflow-x-auto mt-16">
    <table id="datatable" class="table gap-y-5">
        <thead>
        <tr>
            <th></th>
            <th>Naam faciliteit</th>
            <th>Omschrijving foutmelding</th>
            <th>Datum ingediend</th>
            <th>Goedkeuren/afkeuren</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.Id</td>
                <td>@report.Facility.Name</td>
                <td>@report.Description</td>
                <td>@report.CreatedAt</td>
                <td>
                    <a href="#" class="btn btn-sm btn-success">Goedkeuren</a>
                    <a href="#" class="btn btn-sm btn-error">Afkeuren</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
      $("#datatable").DataTable({
      searchPanes: {
              layout: 'columns-2'
          },
      dom: 'Plfrtip'
      });
      </script>
}