@model DataAccess.Models.FacilityCategory

@{
    ViewBag.Title = "Faciliteitscategorie aanmaken";
    Layout = "_Layout";
}

<h1 class="text-2xl font-semibold mb-6">Categorie aanmaken</h1>
<form method="post" class="flex flex-col" asp-action="Create">
    <label>Naam</label>
    <input type="text" class="input input-bordered" asp-for="Name" required>
    <span asp-validation-for="Name" class="text-red-600"></span>

    <label>Omschrijving</label>
    <input type="text" class="input input-bordered" asp-for="Description" required>
    <span asp-validation-for="Description" class="text-red-600"></span>

    <label>Kleur</label>
    <input type="color" class="input input-bordered" asp-for="HexCode" required>
    <span asp-validation-for="HexCode" class="text-red-600"></span>

    <label>Naam icoontje</label>
    <p class="text-slate-400 text-sm">
        Vul hier de naam van een <a class="text-blue-600" href="https://tabler.io/icons" target="_blank">valide tabler icoontje</a>
        in. Deze wordt vervolgens weergegeven voor alle faciliteiten die gekoppeld zijn aan de categorie.
    </p>
    <input type="text" class="input input-bordered" asp-for="IconName" required>
    <span asp-validation-for="IconName" class="text-red-600"></span>

    <input type="hidden" asp-for="HolidayResortId" value="@ViewBag.ResortId"/>

    <button type="submit" class="btn btn-primary mt-2">Aanmaken</button>
</form>

@section Scripts
{
    @* Script for IntroJS (onboarding) *@
    <script>
    introJs().setOptions({
        steps: [{
            title: 'Categorie voor faciliteit aanmaken',
            intro: 'Op deze pagina kun je de categorieën van faciliteiten aanmaken.'
        },
            {
                title: 'Kleur',
                element: document.querySelector('#HexCode'),
                intro: 'Hier kun je een kleur opgeven. Deze zal op de kaart weergegeven worden bij de faciliteit aan de hand van de categorie als achtergrondkleur van het icoontje.'
            },
            {
                title: 'Icoontje',
                element: document.querySelector('#IconName'),
                intro: 'Vul hier de naam in van een valide tabler icoontje. Het is belangrijk dat je op de link bij de hulptekst klikt en via daar een icoontje uitzoekt. Verzin dus niet zelf een naam!'
            },
            {
                title: 'Veel succes!',
                intro: "Dat was 'm weer. Veel succes!"
            }],
        dontShowAgain: true
    }).start();
</script>
}