@model DataAccess.Models.ServiceReportCategory
@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}
<div>
    <h1 class="text-2xl font-bold">Aanpassen categorie: @Model.Name</h1>
    <a asp-controller="ServiceReportCategory" asp-action="Index" class="inline-block w-auto px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
        <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
        </svg>
        <span>Terug</span>
    </a>
    <form class="flex flex-col max-w-96" asp-action="Update" method="post">
        <input hidden required readonly asp-for="Id" value="@Model.Id"/>
        <label>Naam</label>
        <span asp-validation-for="Name" class="text-red-600"></span>
        <input class="input input-bordered" required asp-for="Name" placeholder="@Model.Name" value=""/>
        <input type="hidden" asp-for="HolidayResortId" value="@Model.HolidayResortId"/>
        <input class="btn btn-success mt-2" type="submit" value="Opslaan"/>
    </form>
</div>