@using System.Net.Mime
@model FacilityCreateViewModel

@{
    ViewBag.Title = "Faciliteit aanmaken";
    Layout = "_Layout";
}

<h2 class="text-2xl font-semibold mb-6">Creëer faciliteit</h2>
<form asp-action="create" class="flex flex-col">

    <input hidden required type="text" asp-for="Facility.Latitude" readonly value="@Model.Latitude"/>
    <span asp-validation-for="Latitude" class="text-red-600"></span>
    
    <input hidden required type="text" asp-for="Facility.Longitude" readonly value="@Model.Longitude"/>
    <span asp-validation-for="Longitude" class="text-red-600"></span>
    
    <label>Naam</label>
    <input class="input input-bordered" required type="text" asp-for="Facility.Name"/>
    <span asp-validation-for="Facility.Name" class="text-red-600"></span>

    <label>Beschrijving</label>
    <textarea class="textarea textarea-bordered" required type="text" rows="3" asp-for="Facility.Description"></textarea>
    <span asp-validation-for="Facility.Description" class="text-red-600"></span>

    <label>Categorie</label>
    <select required class="input input-bordered" asp-for="Facility.CategoryId">
        @foreach(var category in Model.FacilityCategories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <span asp-validation-for="Facility.Category" class="text-red-600"></span>

    <input type="submit" value="Aanmaken" class="btn btn-neutral mt-2"/>
</form>