@model DataAccess.Models.HolidayResort
<div id="coordinateModel_@Model.Id" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Punt toevoegen</h3>
        <div class="modal-action justify-center">
            <form asp-action="Add" asp-controller="HolidayResortCoordinate" method="POST" asp-route-id="@Model.Id">
                <div class="flex flex-row justify-between">
                    <div class="flex flex-col">
                        <label for="Longitude">Longitude</label>
                        <input name="Longitude" type="number" min="-180" max="180"/>
                    </div>
                    <div class="flex flex-col">
                        <label for="Latitude">Latitude</label>
                        <input name="Latitude" type="number" min="-90" max="90"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Toevoegen</button>
            </form>
            <button onclick="document.getElementById('coordinateModel_@Model.Id').classList.remove('modal-open')" class="btn">Annuleren</button>
        </div>
        <div id="map" class="h-[20vh] w-[20vw]"></div>
    </div>
</div>

@section Scripts
{
    <script>
        let map = L.map('map', {
            center: [51.65028080463477, 5.0484079052199275],
            zoom: 16,
            attributionControl: false,
            minZoom: 16,
            maxBounds: [[51.65409301291617, 5.055245412377415], [51.64602718326105, 5.041388287563508]]
        });
        L.tileLayer('@Html.Raw("https://api.mapbox.com/styles/v1/thieme/clu785gfh00y201qshhlscngq/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoidGhpZW1lIiwiYSI6ImNsdTF6bDI3YTByZGMya24wNzgxM3lnaW8ifQ.es_E8PCEaZhsaYiGsl8q5A")')
        .addTo(map);
        
        // Add event listener for map clicking
        map.on('click', onMapClick);
        
        function onMapClick(e) {
            console.log("clicked")
        }
    </script>
}
