@model DataAccess.Models.FacilityReport

<div id="approveModal_@Model.Id" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Melding Goedkeuren</h3>
        <p class="py-4">Weet u zeker dat u de melding voor '@Model.ProposedFacility.Name' wilt goedkeuren?</p>
        <div class="modal-action">
            <form asp-action="ApproveReport" asp-controller="FacilityReport" method="POST" asp-route-id="@Model.Id">
                <label>Aantal punten toewijzen</label>
                <input name="points" type="number" min="0" max="100"/>
                <button type="submit" class="btn btn-success">Goedkeuren</button>
            </form>
            <button onclick="document.getElementById('approveModal_@Model.Id').classList.remove('modal-open')" class="btn">Annuleren</button>
        </div>
    </div>
</div>