@model DataAccess.Models.Facility

<!-- Modal Structure -->
<div id="deleteModal_@Model.Id" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Faciliteit verwijderen</h3>
        <p class="py-4">Weet u zeker dat u de faciliteit '@Model.Name' wilt verwijderen?</p>
        <div class="modal-action">
            <form asp-action="Delete" asp-controller="Facility" method="POST" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-error">Verwijder</button>
            </form>
            <a href="#" class="btn" onclick="document.getElementById('deleteModal_@Model.Id').classList.remove('modal-open')">Annuleren</a>
        </div>
    </div>
</div>