@model DataAccess.Models.FacilityReport

<div id="rejectModal_@Model.Id" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Melding Afkeuren</h3>
        <p class="py-4">Weet u zeker dat u de melding voor '@Model.ProposedFacility.Name' wilt afkeuren?</p>
        <div class="modal-action">
            <form asp-action="DenyReport" asp-controller="FacilityReport" method="POST" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-error">Afkeuren</button>
            </form>
            <button onclick="document.getElementById('rejectModal_@Model.Id').classList.remove('modal-open')" class="btn">Annuleren</button>
        </div>
    </div>
</div>