@using WebPortal.Services
@inject IResortService ResortService
<form method="POST" asp-controller="Home" asp-action="SaveCurrentResort">
    <select class="select select-bordered w-full max-w-xs" name="resortId" onchange="this.form.submit()">
        @{
            var resorts = await ResortService.GetResorts();
            var selectedResort = ResortService.GetCurrentResortId();
            foreach (var resort in resorts)
            {
                var selected = resort.Id == selectedResort;
                @Html.Raw($"<option value='{resort.Id}'{(selected ? " selected" : "")}>{resort.Name}</option>");
            }
        }
    </select>
</form>